{% if ncs_version < hwmv2_since %}
identifier: {{ board }}
{% else %}
identifier: {{ board }}/{{ soc }}
{% endif %}
name: {{ board_desc }}
vendor: {{ vendor }}
type: mcu
arch: arm
ram: {{ ram }}
flash: {{ flash }}
toolchain:
  - zephyr
supported:
  - gpio
